
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

header ul{
    margin-top: 20px;
    display: inline-flex;
}

header a{
    color: black;
    text-decoration: none;
}


.headerLi{
    font-size: larger;
    margin-left: 100px;
}

.h3Header{
    border-radius: 10px;
    border: 1px solid #9E3750;
    width: 70px;
    text-align: center;
    height: 24px;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.h3Header:hover{
    background-color: #9E3750;
}

.input_decoracao{
    width: 262px;
    height: 39px;
    border-radius: 20px;
    border: 0.5px solid #9E3750;
    background: #FFF;
    padding-left: 8px;
    padding-right: 8px;
}

.input_texto{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 1px;
}

.containerSuporte{
    display: none;
    background-color: rgba(224, 157, 157, 0.801);
    position: fixed;
    right: 25px;
    bottom: 25px;
    padding: 20px;
    border-radius: 25px;
    z-index: 4;
}

.HeaderSuporte{
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    z-index: 4;
}

.tituloSuporte{
    color: #9E3750;
    z-index: 4;
}

.CloseSuporte{
    cursor: pointer;
    color: red;
    border: 1px solid  #9E3750;
    padding: 5px;
    border-radius: 25px;
    z-index: 4;
}

.CloseSuporte:hover{
    background-color: red;
    color: white;
    z-index: 4;
}


.ImgOpenSuporte{
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: 1px solid #9E3750;
    padding: 10px;
    border-radius: 30px;
    z-index: 4;
}

.ImgOpenSuporte:hover{
    background-color: #9E3750;
    z-index: 4;
}

.buttonSuporte{
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: 0.5px solid #9E3750;
    background: #FFF;
    cursor: pointer;
    z-index: 4;
}

.buttonSuporte:hover{

    background-color: #9E3750;
    color:white;
    border: 0.5px solid white;
    z-index: 4;
}

.input_decoracaoSuporte{
    width: 262px;
    height: 39px;
    margin-bottom: 25px;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    border: 0.5px solid #9E3750;
    background: #FFF;
    z-index: 4;
}

#DescricaoDoPloblema {
    width: 260px;  
    height: 150px; 
    z-index: 4;
}

.labelSuporte {
    margin-left: 15px;
    z-index: 4;
}

.rodape {
    background-color:#a0042b77;
    color: #fff;
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100vw;
    
}

.rodape2 {
    background-color: #a0042b77;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

.labelIcones{
    padding: 0;
    height: 90px;
}

.icones {
    height: 40px; 
    width: 40px;
    cursor: pointer;
}