.header-main-cadastro{
 
    text-align: center;
    margin-top: 50px;
}

main h1{
    font-size: 60px;
    color: #9E3750;
}

.card-cadastro{
    margin: auto;
    width: 500px;
}

.card_input1{
    margin-top: 15px;
    display: inline-flex;
    margin-bottom: 20px;
    margin-left: -50px;
}

.input_decoracao{
    width: 262px;
    height: 39px;
    border-radius: 20px;
    border: 0.5px solid #9E3750;
    background: #FFF;
}

.espaçoRegister{
    margin-left: 70px;
}
body{
    padding: 0px;
}
.input_texto{
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 1px;
}

.button_cadastrar{
    margin: auto;
    padding: 11px 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #9E3750;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;

}

.button_cadastrar:hover{
    background-color: #9E3750;
}

.mensagem_validacao{
    font-size: 15px;
    color: red;
    padding-left: 8px;
}
