.global-main{
    display: flex;
    align-items: center;
    width: 65%;
    margin: auto;
    margin-top: 50px;
    /* align-items: center;
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 25px; */
}

.ImgMain{
    width: 80%;

}

.finalCard{
    margin-bottom: 50px;
}

.TextHome{
    text-align: center;
    
}

.h3DentroMain{
    text-align: center;
    margin: auto;
}
/* 
.bola1{
    width: 500px;
    height: 600px;
    background-color: rgba(244, 199, 204, 0.986);
    border-radius: 50%;
    position: fixed;
} */
