
.global-main{
    display: flex;

}

.Text{
width: 49%;
margin-left: 75px;
}

.Imagem{
    width: 650px;
    height: 490px;
}
.bola1{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: fixed;
}