.header-main-calculadora{
    text-align: center;
    margin-top: 20px;
}

.h1Calculadora{
    font-size: 60px;
    margin-bottom: 20px;
    color: #9E3750;
}

.colortextCalculadora{
    color: #9E3750;
}

.card-calculadora{
    margin: auto;
    width: 500px;
    margin-top: 25px;
}

.card_input1{
    margin-top: 40px;
    display: inline-flex;
    margin-bottom: 50px;
    margin-left: -50px;
}

.input_decoracao{
    width: 262px;
    height: 39px;
    border-radius: 20px;
    border: 0.5px solid #9E3750;
    background: #FFF;
}

.espaçoRegister{
    margin-left: 70px;
}

.textCalculadora{
    width: 300px;
    color: #9E3750;
}

.button_Calcular{
    margin: auto;
    padding: 11px 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #9E3750;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);

}

.button_Calcular:hover{
    background-color: #9E3750;
    color: aliceblue;
    transition: 0.3s;
}


.exibirCalculadora{
    display: none;
    position:absolute;
    background-color: rgba(240, 163, 163, 0.986);
    width: 40%;
    /* height: 40%; */
    top: 25%;
    left: 30%;
    border-radius: 25px;
}

.headerResultado{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.headerResultado h3{
font-size: 25px;
text-align: center;
}

.headerResultado h2 b {
    border: 1px solid #9E3750;
    margin: 25px;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.headerResultado h2 b:hover {
background-color: #b8002e;
}

#exibir{
    margin: 25px;
}