*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.GraficosJáligadosComAPI{
    display: flex;
    width: 100vw;
    height: 300px;
}

.graficos_umAoLadodoOutro{
    font-size: 20px;
}

.DivDashBoardCard{
    width: 40%;
    border: 1px solid Gray;
    padding-bottom: 25px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}

.cardTempeHumIDeal{
    margin: auto;
    width: 65%;
}

/* .DivDashBoardCard-2{
    width: 99%;
    border: 1px solid Gray;
    padding-bottom: 25px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    margin-top: 25px;
} */

.FlexBox{
    display: flex;
}

.Card-MédiaMensalUmi{
    margin: auto;
}

.Card-MédiaMensalTemp{
    margin: auto;
}

.NumberCardMensalUmi{
    font-size: 20px;
    background-color: #288f4a;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.NumberCardMensalTemp{
    font-size: 20px;
    background-color: #288f4a;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}